<textarea rows="1" oninput={{action 'testMeteors'}} class="type-area" placeholder="Type responses here" />
{{#if countdown}}
    <h1 class="alert-text">Game Begin: {{countdown}}</h1>
{{else}}
    <div class="display-text">
        <div class="lives-desc">Lives:</div>
        <div class="lives-value">{{lives}}</div>
        <div class="score-desc">Score:</div>
        <div class="score-value">{{score}}</div>
    </div>
    {{#if lives}}
        {{#each meteors as |meteor index|}}
            {{meteor-display data=meteor}}
        {{/each}}
    {{else}}
        <h1 class="alert-text">Game over</h1>
        <p class="score">You reached a score of {{score}}!</p>
        <h3 {{action "playAgain"}} class="game-over-option">Play Again</h3>
        <h3 {{action mainMenu}} class="game-over-option">Back</h3>
    {{/if}}
{{/if}}
